<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">
      <i class="fas fa-leaf me-2"></i>AgriTech
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/disease">Disease Detection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/crop-recommendation">Crop Recommendation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/yield-prediction">Yield Prediction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/marketplace">Marketplace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Community Chat</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="/login" class="btn btn-outline-light me-2">Login</a>
        <a href="/register" class="btn btn-light">Register</a>
      </div>
    </div>
  </div>
</nav>
